@{
    ViewBag.Title = "Home Page";
    ViewBag.Message = "Look below at the links to show off the open source stuff!";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Camel Case Person</h5>
        @Html.ActionLink("Camel Case Person", "Create", "CamelCase")
    </li>

    <li class="two">
        <h5>Mixed Case Person</h5>
        @Html.ActionLink("Camel Case Person", "Create", "MixedCase")
    </li>

    <li class="three">
        <h5>Underscore Delimited Person</h5>
        @Html.ActionLink("Camel Case Person", "Create", "UnderscoreDelimited")
    </li>
</ol>
